
QWidget {
    background-color: #DDDDDD;
}

QLineEdit {
    background-color: white;
    border:1px solid black;
}

QPushButton {
    color: #EEEEEE;   
    background-color: #888888;
    border-radius: 10px;
    padding: 8px 8px;
}

QPushButton:hover {  
    background-color: #444444;
}

QTableWidget {
    background-color: white;
}

QTextEdit {
    background-color: white;
    padding: 10px;
}

QProgressBar {
    background-color: white;
}
